{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои проекты</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <header class="header"><a href="{% url 'index' %}" class="header-text">Moret</a></header>
    <div class='profile-link'>
        {% if request.user.is_authenticated %}
            {{user.username}} | <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}">Войти</a> | <a href="{% url 'sign_up' %}">Регистрация</a>
        {% endif %}
    </div>
    <div class="sidebar-color">
        <div class="sidebar-text">
            <button class="button-add-project" onclick="window.location.href = {% url 'project_creating' %};">Добавить
                проект</button>
            {% if projects %}

                <ul class="ul-sidebar">
                    {% for project in projects %}
                        {% if project.parent_project == null %}
                            <li class="li-sidebar"><a class='a-sidebar' href="{% url 'index_with_project' project.id %}"
                            >{{ project.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>No projects are available.</p>
            {% endif %}
        </div>
    </div>
    <div class="in-row">

        <div class="center blue" id="project_info">
            {% block project_info %}
            {% endblock %}
        </div>

        <div class="tasks">
            <form method="post" id="tasks">
                {% csrf_token %}
                <p>Добавить задачу<br>
                    <input type="text" name="add_task_input" value="" size="20">
                    <button name="add_task_btn" type="submit">--></button>
                </p>
                {% if tasks %}
                    {% for task in tasks %}
                        <div name="div_{{ task.text }}"
                             id="{{ task.text }}">
                            <input type="checkbox"
                                   onChange="hide_task('{{ task.text }}')"
                                   name="{{ task.text }}"
                            >{{ task.text }}
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No tasks are available.</p>
                {% endif %}
            </form>

        </div>

    </div>
</body>
<script src={% static 'main/js/add_child_project.js' %}></script>
<script src={% static 'main/js/delete_project.js' %}></script>
<script src={% static 'main/js/hide_task.js' %}></script>
<script src={% static 'main/js/modal_window.js' %}></script>
</html>