{% extends 'main/common.html' %}

{% block project_info %}
    <button class="button-delete-project" onclick="return delete_project()">Удалить</button>
    <button class='button-edit-project' onclick="document.location='{% url 'project_editing' project.id %}'">Редактировать</button>

    <h2 class="common-text-style project-name">{{ project.name }}</h2>
    <p class="common-text-style description">{{ project.description }}</p>
    <p class="common-text-style deadline">Deadline: {{ project.deadline }}</p>

    {% if project %}
        <p>Подзадачи
            {% if projects %}
                {% for child_project in projects %}
                    {% if child_project.parent_project == project %}
                        <p class="tab" id="{{ child_project.name }}">
                            <button id="button_{{ child_project.name }}" type="button" onclick="show_details(
                                    '{{ child_project.name }}',
                                    '{{ child_project.description }}',
                                    '{{ child_project.deadline }}');
                                    ">></button>
                            <span>{{ child_project.name }}</span>
                        </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
    {% endif %}
{% endblock %}