{% extends 'main/common.html' %}

{% block project_info %}
    <button class="button-delete-project" onclick="return delete_project()">Удалить</button>
    <button class='button-edit-project' onclick="document.location='{% url 'project_editing' project.id %}'">Редактировать</button>

    <h2 class="common-text-style project-name">{{ project.name }}</h2>
    <p class="common-text-style description">{{ project.description }}</p>
    <p class="common-text-style deadline">Deadline: {{ project.deadline }}</p>
{% endblock %}