{% extends 'main/common.html' %}
{% load static %}

{% block project_info %}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <form method="post" class="common-text-style">
        {% csrf_token %}
        {% if project %}
            <h2>Изменить проект</h2>
        {% else %}
            <h2>Создать проект</h2>
        {% endif %}
        <p>Имя проекта<br>
            <input class="project-name-input" type="text" name="name" value="{{ project.name }}" size="40"></p>
        <p>Описание<br>
            <textarea name="description" class="project-info-input">{{ project.description }}</textarea></p>
        <p>Срок выполнения<br>
            <input class="project-deadline-input" type="datetime-local" name="deadline" value="{{ project.deadline }}"
                   size="20"></p>

        {% if project %}
            <p>
                {% if projects %}
                    {% for child_project in projects %}
                        {% if child_project.parent_project == project %}
                            <p class="tab" id="{{ child_project.name }}">
                                <a id="button_{{ child_project.name }}" type="button" onclick="show_details(
                                        '{{ child_project.name }}',
                                        '{{ child_project.description }}',
                                        '{{ child_project.deadline }}');
                                        "><svg style="width: 14px; height: 14px" class="arrow-right-2" viewBox="0 0 9 14">
    <path class="svg-arrow" d="M6.660,8.922 L6.660,8.922 L2.350,13.408 L0.503,11.486 L4.813,7.000 L0.503,2.515 L2.350,0.592 L8.507,7.000 L6.660,8.922 Z" />
</svg></a>
                                <span>{{ child_project.name }}</span>
                            </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </p>
        {% endif %}
        <p><a class="links" type="submit" id="add_child_project_edit" onclick="child_project_form
        ('add_child_project_edit', 'before_edit_btn');">Добавить подзадачу</a></p>
        <p id="before_edit_btn" class="tab"></p>
        {% if project %}
            <p><button class="links" id="edit_project" name="edit_project" type="submit">Сохранить</button></p>
        {% else %}
            <p><button class="links" style="" id="create_project" name="create_project" type="submit">Сохранить</button></p>
        {% endif %}
    </form>
{% endblock %}