@font-face {
	font-family: 'ProximaNovaRegular';
	src: url("../font/Proxima Nova Regular.otf") format("opentype");
    ) format("opentype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'ProximaNovaBold';
	src: url("../font/Proxima Nova Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal
}
@font-face {
	font-family: 'ProximaNovaLight';
	src: url("../font/Proxima Nova Light.otf") format("opentype");
	font-weight: 300;
	font-style: normal
}
@font-face {
	font-family: 'ProximaNovaThin';
	src: url("../font/Proxima Nova Thin.otf") format("opentype");
	font-weight: 300;
	font-style: normal
}

.links {
    border-radius: 5px;
    background: #DF9E66;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    font-family: ProximaNovaRegular;
}

.header {
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;

    background: #DF9E66;
}

.header-text {
    position: absolute;
    width: 97px;
    height: 42px;
    left: 40px;
    top: 21px;
    text-decoration: none;
    font-family: ProximaNovaBold;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

.profile-link {
    position: absolute;
    right: 30px;
    top: 25px;
    font-family: ProximaNovaRegular;
    font-size: 25px;
}

.shouldnt-be-changed {
    text-decoration: None;
    color: #FFFFFF;
}

.shouldnt-be-changed:hover, .shouldnt-be-changed:visited {
    background: #DF9E66;
}

.project-title{
    font-family: ProximaNovaRegular;
}

/*##### SIDEBAR ##############################################*/

.sidebar-color {
    position: absolute;
    width: 21%;
    height: 100%;
    left: 0px;
    top: 80px;

    background: #355469;
}

.add-project {
    font-size: 20px;
    padding: 15px 50px;
    position: relative;
    top: 35px;
    left: 30px;
}

.ul-sidebar {
    padding: 0;
    width: 100%;
    position: relative;
    top: 25px;
}

.li-sidebar {
    line-height: 3;
}

.a-sidebar {
    text-decoration: none;
    display: inline-block;

    position: relative;
    top: 30px;
    width: 90%;
    text-align: left;
    line-height: 1.2;
    color: white;
    font-family: ProximaNovaRegular;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.a-sidebar:hover, a-sidebar:visited {
    background: #304e5f;
}

/*################ center-block ########################################*/

.del-edit {
    text-align: right;
    position: relative;
    top: 15px;
}

.project-info {
    position: relative;
    margin-left: 21.5%;
    margin-top: 80px;
    width: 60%;
    padding-left: 40px;
}

/*################### TASKS ####################################*/

.add-task{
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

.tasks {
    position: absolute;
    right:0px;
    width: 15%;
    height: 100%;
    top: 80px;
    font-family: ProximaNovaRegular;
    background: #7A2D1E;
}

/*######################################################################*/


.make-center {
    text-align: center
}
.in-row{
    display: flex;
    flex-direction: row;
}


.textarea {
    margin: 0px; width: 400px; height: 80px;
}

.nolinebreak_parent { white-space: nowrap; }
.nolinebreak_child { display: inline-block; }


li:last-child a {
    margin-right: 0;
}
a:hover, a:visited {
    background: #c6895d;
}

.common-text-style {
    font-family: ProximaNovaRegular;
}
.undertasks{
font-family: ProximaNovaRegular;
}
.project-name {
    font-size: 36px;
}

.description {
    font-size: 24px;
}

.deadline {
    font-size: 18px;
}



.form-input {
    width: 300px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}




/* Стили для подложки */

.overlay {

   /* Скрываем подложку  */
   opacity: 0;
   visibility: hidden;

   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .2);
   z-index: 20;
   transition: .3s all;
}


/* Стили для модальных окон */

.modal {

   /* Скрываем окна  */
   opacity: 0;
   visibility: hidden;


   /*  Установаем ширину окна  */
   width: 100%;
   max-width: 500px;

   /*  Центрируем и задаем z-index */
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 30; /* Должен быть выше чем у подложки*/

   /*  Побочные стили   */
   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
   text-align: center;
   padding: 30px;
   border-radius: 3px;
   background-color: #fff;
   transition: 0.3s all;
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active{
   opacity: 1;
   visibility: visible;
}


/* Стили для кнопки закрытия */

.modal__cross {
   width: 15px;
   height: 15px;
   position: absolute;
   top: 20px;
   right: 20px;
   fill: #444;
   cursor: pointer;
}


/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

/*a {
   padding: 20px;
   display: inline-block;
   text-decoration: none;
   background-color: #414b52;
   margin: 10px;
   color: #fff;
   border-radius: 3px;
}*/
button[type="submit"] {
  background: #df9e66;
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
    font-family: "ProximaNovaRegular";
    width: 355px;
    height: 50px;
}
button[type="submit2"] {
  background: #df9e66;
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
    font-family: "ProximaNovaRegular";
    width: 230px;
    height: 50px;
    margin-top: 20px;
}
.sign-in-pass {
  float: left;
  color: black;
  font-size: 1.3em;
}
.sign-in-mail {
  float: left;
  color: black;
  font-size: 1.3em;
}
.wrapper {
  width: 300px;
  margin: 12% auto;
    font-family: "ProximaNovaRegular";
}
.button {
  float: right;
  color: #7f8084;
  border: 1px solid #22272d;
  padding: 7px 15px;
  border-radius: 3px;
  font-size: 0.8em;
  cursor: pointer;
    margin-top: 20px;
    margin-right: -55px;
     text-decoration: none

}
.no-user {
    font-size: 0.8em;
    color: #7f8084;
    margin-top: 20px;
    float: left;
    padding: 3px 0;


}
.input {
    width: 100%;
    padding: 5px;
    height: 40px;
    border-radius: 3px;
    margin: 5px 0;
    outline: none;

}
input[type="text"] {
    background: transparent;
    border: 2px solid #22272d;
    padding-left: 45px;
    color: #df9e66;
    font-family: "ProximaNovaLight";

}
input[type="password"] {
    background: transparent;
    border: 2px solid #22272d;
    padding-left: 45px;
    color: #df9e66;
}


input[type="email"] {
    background: transparent;
    border: 2px solid #22272d;
    padding-left: 45px;
    color: #df9e66;

}